In [16]:
import numpy as np 
import pandas as pd 
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score,mean_squared_error

In [17]:
df=pd.read_csv("House_Rent_Dataset.csv")
df.head()

,Posted On,BHK,Rent,Size,Floor,Area Type,Area Locality,City,Furnishing Status,Tenant Preferred,Bathroom,Point of Contact
0,2022-05-18,2,10000,1100,Ground out of 2,Super Area,Bandel,Kolkata,Unfurnished,Bachelors/Family,2,Contact Owner
1,2022-05-13,2,20000,800,1 out of 3,Super Area,"Phool Bagan, Kankurgachi",Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner
2,2022-05-16,2,17000,1000,1 out of 3,Super Area,Salt Lake City Sector 2,Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner
3,2022-07-04,2,10000,800,1 out of 2,Super Area,Dumdum Park,Kolkata,Unfurnished,Bachelors/Family,1,Contact Owner
4,2022-05-09,2,7500,850,1 out of 2,Carpet Area,South Dum Dum,Kolkata,Unfurnished,Bachelors,1,Contact Owner

In [18]:
df['City'].unique()

array(['Kolkata', 'Mumbai', 'Bangalore', 'Delhi', 'Chennai', 'Hyderabad'],
      dtype=object)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4746 entries, 0 to 4745
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Posted On          4746 non-null   object
 1   BHK                4746 non-null   int64
 2   Rent               4746 non-null   int64
 3   Size               4746 non-null   int64
 4   Floor              4746 non-null   object
 5   Area Type          4746 non-null   object
 6   Area Locality      4746 non-null   object
 7   City               4746 non-null   object
 8   Furnishing Status  4746 non-null   object
 9   Tenant Preferred   4746 non-null   object
 10  Bathroom           4746 non-null   int64
 11  Point of Contact   4746 non-null   object
dtypes: int64(4), object(8)
memory usage: 445.1+ KB

In [20]:
df.isnull().sum()

Posted On            0
BHK                  0
Rent                 0
Size                 0
Floor                0
Area Type            0
Area Locality        0
City                 0
Furnishing Status    0
Tenant Preferred     0
Bathroom             0
Point of Contact     0
dtype: int64

In [21]:
df_model = df[['BHK', 'Size', 'City', 'Furnishing Status', 'Floor', 'Tenant Preferred', 'Rent']].copy()
categorical_cols = ['City','Furnishing Status','Floor','Tenant Preferred']
df_encoded = pd.get_dummies(df_model, columns=categorical_cols, drop_first=True)
df_encoded.head()

,BHK,Size,Rent,City_Chennai,City_Delhi,City_Hyderabad,City_Kolkata,City_Mumbai,Furnishing Status_Semi-Furnished,Furnishing Status_Unfurnished,...,Floor_Upper Basement out of 22,Floor_Upper Basement out of 3,Floor_Upper Basement out of 30,Floor_Upper Basement out of 4,Floor_Upper Basement out of 40,Floor_Upper Basement out of 5,Floor_Upper Basement out of 7,Floor_Upper Basement out of 9,Tenant Preferred_Bachelors/Family,Tenant Preferred_Family
0,2,1100,10000,False,False,False,True,False,False,True,...,False,False,False,False,False,False,False,False,True,False
1,2,800,20000,False,False,False,True,False,True,False,...,False,False,False,False,False,False,False,False,True,False
2,2,1000,17000,False,False,False,True,False,True,False,...,False,False,False,False,False,False,False,False,True,False
3,2,800,10000,False,False,False,True,False,False,True,...,False,False,False,False,False,False,False,False,True,False
4,2,850,7500,False,False,False,True,False,False,True,...,False,False,False,False,False,False,False,False,False,False

In [22]:
x = df_encoded.drop('Rent', axis=1)
y = df_encoded['Rent']
model=LinearRegression()
model.fit(x,y)
predict=model.predict(x)
slope=model.coef_[0]
intercept=model.intercept_
r2=r2_score(y,predict)
mse=np.sqrt(mean_squared_error(y,predict))
print(slope)
print(intercept)
print(r2)
print(mse)

5570.238969223086
-22617.82770109696
0.41564223590351324
59700.826551618964

Predict rent for a 2 BHK semi-furnished apartment with 1000 sq.ft in Bangalore.

In [28]:
newData = pd.DataFrame({
    'BHK': [2],
    'Size': [1000],
    'City_Bangalore': [1],
    'Furnishing Status_Semi-Furnished': [1]
})
missing_cols = []
for col in x.columns:
    if col not in newData.columns:
        missing_cols.append(col)
if missing_cols:
    zeros_df = pd.DataFrame(0, index=newData.index, columns=missing_cols)
    newData = pd.concat([newData, zeros_df], axis=1)
newData = newData[x.columns]
pred_rent=model.predict(newData)
print(pred_rent)

[22489.93797201]